[submodule "aoc2020"]
	path = aoc2020
	url = https://github.com/michaelotty/aoc2020.git
[submodule "aoc2015"]
	path = aoc2015
	url = https://github.com/michaelotty/aoc2015.git
[submodule "aoc2016"]
	path = aoc2016
	url = https://github.com/michaelotty/aoc2016.git
[submodule "aoc2017"]
	path = aoc2017
	url = https://github.com/michaelotty/aoc2017.git
[submodule "aoc2018"]
	path = aoc2018
	url = https://github.com/michaelotty/aoc2018.git
[submodule "aoc2019"]
	path = aoc2019
	url = https://github.com/michaelotty/aoc2019.git
