[submodule "aoc201501"]
	path = aoc201501
	url = C:/Users/micha/git/python/aoc/aoc201501
[submodule "aoc202001"]
	path = aoc202001
	url = C:/Users/micha/git/python/aoc/aoc202001
[submodule "aoc202002"]
	path = aoc202002
	url = C:/Users/micha/git/python/aoc/aoc202002
[submodule "aoc202003"]
	path = aoc202003
	url = C:/Users/micha/git/python/aoc/aoc202003
[submodule "aoc202004"]
	path = aoc202004
	url = C:/Users/micha/git/python/aoc/aoc202004
[submodule "aoc202005"]
	path = aoc202005
	url = C:/Users/micha/git/python/aoc/aoc202005
[submodule "aoc202006"]
	path = aoc202006
	url = C:/Users/micha/git/python/aoc/aoc202006
[submodule "aoc202007"]
	path = aoc202007
	url = C:/Users/micha/git/python/aoc/aoc202007
